@model AmRestFeedback.Models.UsersViewModels.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Users" asp-action="Save"
                  data-ajax="true"
                  data-ajax-update="#saveuserform"
                  method="post"
                  class="form-horizontal"
                  id="saveuserform">
                <hr />
                <h4>@Localizer["EditUserCaption"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <span asp-for="User.Email" class="form-control">@Model.User.Email</span>
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea rows="8" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">@Localizer["SaveUser"]</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

